@use '@/shared/styles/constants.scss' as *;
@use '@/shared/styles/mixins.scss' as *;

.winners {
  padding-top: 112px;
  background-color: $color-grey-50;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 76px;
  @include container;
}

.title {
  font-family: $font-family-title;
  font-size: $font-size-50;
  font-weight: $font-weight-regular;
  margin: 0;
  text-align: center;
}

.content {
  display: flex;
  gap: 23px;
  width: 100%;
}

.winners {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: $color-white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.trophy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.place {
  color: $color-gold-700;
  font-weight: $font-weight-bold;
}

.info {
  flex: 1;
}

.date {
  background: linear-gradient(90deg, $color-gold-300 0%, $color-gold-700 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: $font-size-18;
  font-weight: $font-weight-bold;
  margin-bottom: 4px;
}

.name {
  font-weight: $font-weight-bold;
  margin-bottom: 2px;
}

.id {
  color: $color-grey-400;
  font-size: $font-size-18;
  margin-bottom: 4px;
}

.gain {
  color: $color-red;
  font-weight: $font-weight-bold;
}

.prize {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(90deg, $color-gold-300 0%, $color-gold-700 100%);
  color: $color-white;
  padding: 8px 46px;

  font-size: $font-size-24;
  font-weight: $font-weight-bold;
  transform: rotate(39deg) translateY(-35%) translateX(19%);
}

.buttonWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  padding-top: 4px;
}

.terms {
  color: $color-grey-400;
  font-size: $font-size-12;
  font-weight: $font-weight-regular;
  line-height: 23px;
}
