@use '@/shared/styles/constants.scss' as *;
@use '@/shared/styles/mixins.scss' as *;

.faq {
  padding-top: 112px;
  padding-bottom: 158px;
  background-color: $color-grey-50;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 91px;
  @include container;
}

.title {
  font-family: $font-family-title;
  font-size: $font-size-50;
  font-weight: $font-weight-regular;
  line-height: 50px;
  margin: 0;
  text-align: center;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  border-bottom: 1px solid $color-grey-200;
  cursor: pointer;

  &[open] {
    .question {
      border-bottom: 2px solid $color-grey-450;
    }
    .question::after {
      transform: rotate(180deg) translateY(80%);
    }
    .answer {
      animation: fadeIn 0.4s ease-out forwards;
    }
  }

  &:not([open]) {
    .answer {
      animation: fadeOut 0.3s ease-out forwards;
    }
  }
}

.question {
  position: relative;
  list-style: none;
  font-size: $font-size-20;
  color: $color-black;
  font-weight: 600;
  padding-top: 10px;
  padding-right: 32px;
  padding-left: 71px;
  padding-bottom: 20px;
  cursor: pointer;

  &::-webkit-details-marker {
    display: none;
  }

  &::after {
    content: '';
    position: absolute;
    right: 52px;
    top: 50%;
    width: 25px;
    height: 25px;
    background-image: url('@/shared/assets/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
  }
}

.answer {
  margin: 0;
  font-size: $font-size-16;
  padding-right: 32px;
  padding-left: 73px;
  padding-top: 23px;
  padding-bottom: 18px;
  color: $color-black;
  line-height: 1.5;
  transition: all 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  to {
    opacity: 1;
    max-height: 500px;
    padding-top: 23px;
    padding-bottom: 18px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    max-height: 500px;
    padding-top: 23px;
    padding-bottom: 18px;
  }
  to {
    opacity: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
