@use '@/shared/styles/constants.scss' as *;
@use '@/shared/styles/mixins.scss' as *;

.registration {
  background-image: url('@/shared/assets/hero.png');
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 74px;
  padding-bottom: 80px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    @include container;
  }

  &__main-title {
    background: linear-gradient(
      90deg,
      $color-gold-300 0%,
      $color-gold-700 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $font-size-70;
    font-weight: $font-weight-bold;
    line-height: 70px;
    margin: 0;
    font-family: $font-family-title;
  }

  &__sub-title {
    color: $color-white;
    font-family: $font-family-title;
    font-size: $font-size-70;
    font-weight: $font-weight-bold;
    line-height: 70px;
    margin: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  background-color: $color-white;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 650px;

  &__title {
    padding-bottom: 8px;
    margin: 0;
    font-size: $font-size-24;
    font-weight: $font-weight-bold;
    color: $color-black;
  }

  &__inputs-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &__input,
  &__select {
    padding: 10px;
    border: 1px solid $color-grey-600;
    border-radius: 5px;
    font-size: $font-size-16;

    &::placeholder {
      color: $color-grey-600;
    }
  }

  &__select {
    appearance: none;
    background-image: url('@/shared/assets/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 16px;
    padding-right: 28px;
    color: $color-grey-600;

    option {
      color: $color-black;
    }
  }

  &__phone-wrap {
    display: grid;
    grid-template-columns: 61px 1fr;
    gap: 10px;
  }

  &__checkbox-wrap {
    align-self: flex-start;
    padding-bottom: 16px;
  }

  &__checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: $font-size-12;
    color: $color-grey-500;
  }

  &__checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid $color-grey-600;
    border-radius: 2px;
    margin: 0;
  }

  &__link {
    color: $color-red;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
