@use '@/shared/styles/constants.scss' as *;
@use '@/shared/styles/mixins.scss' as *;

.trophy {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;

  &__card {
    max-width: 600px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    gap: 33px;
    padding: 30px 30px 30px 34px;
    background-color: $color-white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
  }

  &__place {
    color: $color-gold-700;
    font-weight: $font-weight-bold;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 25px;
  }

  &__date {
    background: linear-gradient(90deg, $color-gold-300 0%, $color-gold-700 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $font-size-18;
    font-weight: $font-weight-bold;
    margin: 0;
  }

  &__user {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__name {
    font-weight: $font-weight-bold;
    margin: 0;
  }

  &__id {
    color: $color-grey-400;
    font-size: $font-size-18;
  }

  &__gain {
    color: $color-black;
    font-size: $font-size-18;
    font-weight: $font-weight-bold;
    margin: 0;
  }

  &__percent {
    color: $color-red;
  }

  &__prize {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(90deg, $color-gold-300 0%, $color-gold-700 100%);
    color: $color-white;
    padding: 6px 46px;
    font-size: $font-size-24;
    font-weight: $font-weight-bold;
    transform: rotate(45deg) translateY(-27%) translateX(25%);
  }
}