$color-black: #000000;
$color-black-900: #161616;
$color-white: #ffffff;
$color-grey-50: #f4f4f4;
$color-grey-100: #eeeeee;
$color-grey-200: #e4e4e4;
$color-grey-700: #404040;
$color-grey-500: #5a5a5a;
$color-grey-600: #999999;
$color-grey-400: #a8a8a8;
$color-red: #cd0511;
$color-green: #179149;
$color-gold-300: #fcd678;
$color-gold-700: #bc8c2f;

$size-desktop: 1440px;
$size-tablet: 768px;
$size-mobile: 380px;

$font-family: 'Open Sans', sans-serif;
$font-family-title: 'Sofia Sans Condensed', sans-serif;
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-25: 25px;
$font-size-50: 50px;
$font-size-60: 60px;

$font-weight-regular: 400;
$font-weight-bold: 700;
