@use '@/shared/styles/constants.scss' as *;
@use '@/shared/styles/mixins.scss' as *;

.table {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.tableElement {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 26px;
}

.thead,
tbody {
  display: flex;
  flex-direction: column;
}

.headerRow,
.tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-grey-200;
}

.headerRow {
  color: $color-red;
  font-size: $font-size-16;
  font-weight: $font-weight-bold;
  line-height: 50px;
}

.tr {
  padding: 16px 0 11px 0;
}

.th,
.td {
  flex: 1;
  padding: 0 20px;
  text-align: left;

  &:last-child {
    max-width: 80px;
  }
}

.tableHeader {
  padding: 0;
  margin: 0;
  color: $color-black;
  font-size: $font-size-25;
  font-weight: $font-weight-bold;
}

.buttonWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.terms {
  margin: 0;
  font-size: $font-size-12;
  color: $color-grey-400;
}

.mark {
  font-size: $font-size-12;
  color: $color-grey-400;
  font-weight: $font-weight-regular;
}
